<!--<div class="card">
      <h3>Popular Post</h3>
      <div class="pop_img1">Image</div><br>
      <div class="pop_img2">Image</div><br>
      <div class="pop_img3">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>-->
<%= link_to 'Home', root_path  %>
